<div class="project-box-wrapper">
    <div class="project-box" >
        <div class="item-status">
            <i class=@Icon style="font-size:60px; color: #0a58ca" aria-hidden="true"></i>
            <span class="status-number">@Value</span>
            <span class="status-type">@Title</span>
        </div>
    </div>
</div>