<AuthorizeView>
    <Authorized>
        <a class="app-sidebar-link" href="MicrosoftIdentity/Account/SignOut">
            Sign Out
        </a>
    </Authorized>
    <NotAuthorized>
        <a class="app-sidebar-link" href="MicrosoftIdentity/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>